# by default, ignore all hidden files and make some exceptions
.*
!.rustfmt.toml
!.gitignore

build-inputs.txt
assets.tar.xz
Dockerfile
backend-tests
node_modules
demos
docs
dist
screenshots
target
out
web-assets
frontend/ts/node_modules
frontend/ts/build
frontend/dart/.dart_tool
frontend/dart/.flutter-plugins
frontend/dart/.flutter-plugins-dependencies
frontend/dart/.packages
frontend/dart/assets/ic_agent.js
frontend/dart/build
frontend/dart/ios/Flutter/Generated.xcconfig
frontend/dart/ios/Flutter/flutter_export_environment.sh
frontend/dart/ios/Runner/GeneratedPluginRegistrant.h
frontend/dart/ios/Runner/GeneratedPluginRegistrant.m
frontend/dart/lib/generated_plugin_registrant.dart
frontend/dart/build/web
frontend/svelte/node_modules/
frontend/svelte/public/build/
frontend/svelte/public/assets/
proxy
e2e-tests
**/*.wasm
/config.json
