[workspace]
members = [
    "rs/backend",
    "rs/sns_cache"
]

[workspace.package]
version = "2.0.13"

[profile.release]
lto = false
opt-level = "z"
codegen-units = 1

[profile.release.package.ic-nns-governance]
opt-level = 3

[workspace.package]
version = "2.0.13"
