[workspace]
members = [
    "rs/backend",
    "rs/proposals",
    "rs/sns_aggregator"
]
resolver = "2"

[workspace.package]
version = "2.0.59"

[workspace.dependencies]
ic-cdk = "0.9.2"
ic-cdk-macros = "0.8.1"

[profile.release]
lto = false
opt-level = "z"
codegen-units = 1

[profile.release.package.ic-nns-governance]
opt-level = 3
