[workspace]
members = [
    "rs/backend",
    "rs/proposals",
    "rs/sns_aggregator"
]
resolver = "2"

[workspace.package]
version = "2.0.90"

[workspace.dependencies]
ic-cdk = "0.16.0"
ic-cdk-macros = "0.16.0"
ic-cdk-timers = "0.10.0"

cycles-minting-canister = { git = "https://github.com/dfinity/ic", rev = "release-2024-09-12_01-30-base" }
dfn_candid = { git = "https://github.com/dfinity/ic", rev = "release-2024-09-12_01-30-base" }
dfn_core = { git = "https://github.com/dfinity/ic", rev = "release-2024-09-12_01-30-base" }
dfn_protobuf = { git = "https://github.com/dfinity/ic", rev = "release-2024-09-12_01-30-base" }
ic-base-types = { git = "https://github.com/dfinity/ic", rev = "release-2024-09-12_01-30-base" }
ic-crypto-sha2 = { git = "https://github.com/dfinity/ic", rev = "release-2024-09-12_01-30-base" }
ic-management-canister-types = { git = "https://github.com/dfinity/ic", rev = "release-2024-09-12_01-30-base" }
ic-ledger-core = { git = "https://github.com/dfinity/ic", rev = "release-2024-09-12_01-30-base" }
ic-nervous-system-common = { git = "https://github.com/dfinity/ic", rev = "release-2024-09-12_01-30-base" }
ic-nervous-system-root = { git = "https://github.com/dfinity/ic", rev = "release-2024-09-12_01-30-base" }
ic-nns-common = { git = "https://github.com/dfinity/ic", rev = "release-2024-09-12_01-30-base" }
ic-nns-constants = { git = "https://github.com/dfinity/ic", rev = "release-2024-09-12_01-30-base" }
ic-nns-governance = { git = "https://github.com/dfinity/ic", rev = "release-2024-09-12_01-30-base" }
ic-protobuf = { git = "https://github.com/dfinity/ic", rev = "release-2024-09-12_01-30-base" }
ic-sns-swap = { git = "https://github.com/dfinity/ic", rev = "release-2024-09-12_01-30-base" }
icp-ledger = { git = "https://github.com/dfinity/ic", rev = "release-2024-09-12_01-30-base" }
on_wire = { git = "https://github.com/dfinity/ic", rev = "release-2024-09-12_01-30-base" }

[profile.release]
lto = false
opt-level = "z"
codegen-units = 1

[profile.release.package.ic-nns-governance]
opt-level = 3
