[package]
name = "nns-dapp"
version = "0.0.1"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
base64 = "0.13.0"
candid = "0.7.15"
futures = "0.3.21"
itertools = "0.10.0"
lazy_static = "1.4.0"
serde = "1.0.136"
serde_bytes = "0.11.5"
serde_cbor = "0.11.2"
serde_json = "1.0.81"
sha2 = "0.9.1"
lzma-rs = "0.2.0"
tar = "0.4.37"
hex = "0.4.3"

cycles-minting-canister = { git = "https://github.com/dfinity/ic", rev = "8a5509ebb162d084d8b38fc5213f3a78c9fc9801" }
dfn_candid = { git = "https://github.com/dfinity/ic", rev = "8a5509ebb162d084d8b38fc5213f3a78c9fc9801" }
dfn_core = { git = "https://github.com/dfinity/ic", rev = "8a5509ebb162d084d8b38fc5213f3a78c9fc9801" }
dfn_json = { git = "https://github.com/dfinity/ic", rev = "8a5509ebb162d084d8b38fc5213f3a78c9fc9801" }
dfn_macro = { git = "https://github.com/dfinity/ic", rev = "8a5509ebb162d084d8b38fc5213f3a78c9fc9801" }
dfn_protobuf = { git = "https://github.com/dfinity/ic", rev = "8a5509ebb162d084d8b38fc5213f3a78c9fc9801" }
ic-base-types = { git = "https://github.com/dfinity/ic", rev = "8a5509ebb162d084d8b38fc5213f3a78c9fc9801" }
ic-certified-map = { git = "https://github.com/dfinity/cdk-rs", rev = "7676e7f"}
ic-crypto-sha = { git = "https://github.com/dfinity/ic", rev = "8a5509ebb162d084d8b38fc5213f3a78c9fc9801" }
ic-ic00-types = { git = "https://github.com/dfinity/ic", rev = "8a5509ebb162d084d8b38fc5213f3a78c9fc9801" }
ic-ledger-core = { git = "https://github.com/dfinity/ic", rev = "8a5509ebb162d084d8b38fc5213f3a78c9fc9801" }
ic-nervous-system-common = { git = "https://github.com/dfinity/ic", rev = "8a5509ebb162d084d8b38fc5213f3a78c9fc9801" }
ic-nervous-system-root = { git = "https://github.com/dfinity/ic", rev = "8a5509ebb162d084d8b38fc5213f3a78c9fc9801" }
ic-nns-common = { git = "https://github.com/dfinity/ic", rev = "8a5509ebb162d084d8b38fc5213f3a78c9fc9801" }
ic-nns-constants = { git = "https://github.com/dfinity/ic", rev = "8a5509ebb162d084d8b38fc5213f3a78c9fc9801" }
ic-nns-governance = { git = "https://github.com/dfinity/ic", rev = "8a5509ebb162d084d8b38fc5213f3a78c9fc9801" }
ic-protobuf = { git = "https://github.com/dfinity/ic", rev = "8a5509ebb162d084d8b38fc5213f3a78c9fc9801" }
ic-sns-swap = { git = "https://github.com/dfinity/ic", rev = "b49b8f400746b7b00c14635efbc53ca4aa259a02" }
ledger-canister = { git = "https://github.com/dfinity/ic", rev = "8a5509ebb162d084d8b38fc5213f3a78c9fc9801" }
on_wire = { git = "https://github.com/dfinity/ic", rev = "8a5509ebb162d084d8b38fc5213f3a78c9fc9801" }
registry-canister = { git = "https://github.com/dfinity/ic", rev = "8a5509ebb162d084d8b38fc5213f3a78c9fc9801" }

[dev-dependencies]
maplit = "1.0.2"

[features]
mock_conversion_rate = []
