# Verify that the aggregator gets the required data
name: Aggregator aggregates
on:
  push:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
defaults:
  run:
    shell: bash -euxlo pipefail {0}
jobs:
  # TODO: Merge this PR, then remove `aggregator-pass` as a merge requirement, then delete this file.
  aggregator-pass:
    runs-on: ubuntu-20.04
    steps:
      - name: Checks workflow passes
        run: echo "Checks have moved to build.yaml"
