name: Docker build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: docker build -t dfinity-wallet .
      - run: mkdir out/
      - run: docker run --rm --entrypoint cat dfinity-wallet /nns_ui.wasm > out/nns_ui.wasm
      - run: docker run --rm --entrypoint tar dfinity-wallet /assets.tar.xz > out/assets.tar.xz
      - run: sha256sum out/nss_ui.wasm
      - name: 'Upload wasm module'
        uses: actions/upload-artifact@v2
        with:
          name: Backend wasm module
          path: out/nns_ui.wasm
      - name: 'Upload frontend assets'
        uses: actions/upload-artifact@v2
        with:
          name: Frontend assets
          path: out/assets.tar.xz
