name: Docker build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  docker-build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - run: docker build -t nns-dapp .
      - run: mkdir out/
      - run: docker run --rm --entrypoint cat nns-dapp /nns-dapp.wasm > out/nns-dapp.wasm
      - run: docker run --rm --entrypoint cat nns-dapp /assets.tar.xz > out/assets.tar.xz
      - run: sha256sum out/nns-dapp.wasm
      - name: 'Upload wasm module'
        uses: actions/upload-artifact@v2
        with:
          name: Backend wasm module
          path: out/nns-dapp.wasm
      - name: 'Upload frontend assets'
        uses: actions/upload-artifact@v2
        with:
          name: Frontend assets
          path: out/assets.tar.xz
