name: Populate docker cache
on:
  push:
    branches:
      - main
      # Use this branch for tests:
      - docker-main-test
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  builder:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        include:
          # Note: It seems that having several entries here upsets the cache.
          # Having just one entry makes others faster, but we use local builds more
          # than mainnet, so let's prioritize that.  Soon this will be a non-issue
          # anyway as we will pass the network as an argument.
          # It would still be nice to figure out why; presumably there is a single
          # cache that gets wiped out and replaced, not added to.  And there is probably
          # a namespace one can provide to prevent differing builds from clobbering each other.
          - BUILD_NAME: "local"
            DFX_NETWORK: "local"
    steps:
      - uses: actions/checkout@v3
      # We use buildx and its GitHub Actions caching support `type=gha`. For
      # more information, see
      # https://github.com/docker/build-push-action/issues/539
      - name: Set up docker buildx
        uses: docker/setup-buildx-action@v2
      - name: Build docker artifacts
        uses: docker/build-push-action@v3
        with:
          context: .
          file: Dockerfile
          build-args: |
            DFX_NETWORK=${{ matrix.DFX_NETWORK }}
          #cache-from: type=gha,scope=cached-stage
          cache-to: type=gha,scope=cached-stage,mode=max
          outputs: type=cacheonly
          target: scratch
