safd
# Tags the latest main, to trigger a release.
name: Tag main as tip
on:
  pull_request:
    branches:
      - main
    types:
      - closed
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  tag_tip:
    if: github.event.pull_request.merged
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: Tag main as tip
        run: |
          git tag -f tip
          git push origin tags/tip -f
  tag_pass:
    needs: ["tag_tip"]
    if: ${{ always() }}
    runs-on: ubuntu-20.04
    steps:
      - name: Checks workflow passes
        run: |
          if echo '${{ toJson(needs) }}' | jq 'to_entries[] | select(.value.result != "success")' | grep .
          then echo "You shall not pass:  Some required tests did not succeed"
               exit 1
          else echo "Congratulations, young Frodo."
          fi
