# A GitHub Actions workflow that regularly updates the aggregator SNS parsing code
# and creates a PR for any changes.
name: Update aggregator
on:
  schedule:
    - cron: '30 3 * * *'
  workflow_dispatch:
  push:
    branches:
      # Run when the development branch for this workflow is updated.
      - update-aggregator
jobs:
  update-aggregator:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install didc
        run: |
          USER_BIN="$HOME/.local/bin"
          mkdir -p "$USER_BIN"
          echo "$USER_BIN" >> $GITHUB_PATH
          version="$(jq -r .defaults.build.config.DIDC_VERSION dfx.json)"
          # TODO: Make `didc` support `binstall`, then use `binstall` here.
          curl -Lf "https://github.com/dfinity/candid/releases/download/${version}/didc-linux64" | install -m 755 /dev/stdin "$USER_BIN/didc"
      - name: Update to the latest declared APIs
        id: update
        run: scripts/mk_nns_types.sh
      - name: Create Pull Request
        id: cpr
        # Note: If there were no changes, this step creates no PR.
        uses: peter-evans/create-pull-request@v4
        with:
          token: ${{ secrets.GIX_BOT_PAT }}
          commit-message: Update aggregator
          committer: GitHub <noreply@github.com>
          author: gix-bot <gix-bot@users.noreply.github.com>
          branch: bot-aggregator-update
          branch-suffix: timestamp
          delete-branch: true
          title: 'Update aggregator'
          body: |
            # Motivation
            We would like to parse all the latest SNS data.

            # Changes
            * Updated the Rust code derived from `.did` files in the aggregator.
              * Note: The candid files under `declarations/nns-$CANISTER` are used as inputs.

            # Tests
              - [ ] Please check the API updates for any breaking changes that affect our code.
      - name: Report on the action
        # Since the this is a scheduled job, a failure won't be shown on any
        # PR status. To notify the team, we send a message to our Slack channel on failure.
        run: |
          (
            echo "## Aggregator Update"
            if test -n "${{ steps.cpr.outputs.pull-request-number }}"
            then echo "Created [PR #${{ steps.cpr.outputs.pull-request-number }}](${{ steps.cpr.outputs.pull-request-url }}) with aggregator updates."
            else echo "No changes needed."
            fi
          ) | tee -a $GITHUB_STEP_SUMMARY
      - name: Notify Slack on failure
        uses: dfinity/internet-identity/.github/actions/slack@release-2023-08-28
        if: ${{ failure() }}
        with:
          WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          MESSAGE: "Aggregator update failed"
