# A GitHub Actions workflow that regularly checks for new `ic` releases and updates to the latest.
# and creates a PR on new versions.
name: Update IC
on:
  schedule:
    # check for new `didc` releases daily at 7:30
    - cron: '30 7 * * *'
  push:
    branches:
      - update-ic-workflow
  workflow_dispatch:
    inputs:
      ic_ref:
        type: text
        description: "The internet computer reference (tag or commit) to update to.  Default: Latest"
jobs:
  didc-update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Find newer ic release, if any
        run: |
          current_release="$(jq -r .defaults.build.config.IC_COMMIT dfx.json)"
          echo "Current snsdemo release: $current_release"
          latest_release=$(curl -sSL https://api.github.com/repos/dfinity/ic/releases/latest | jq .tag_name -r)
          echo "Latest ic release:  $latest_release"
          {
            if [ "$current_release" == "$latest_release" ]
            then
              echo "updated=0"
            else
              echo "updated=1"
              echo "release=$latest_release"
            fi
          } >> "$GITHUB_OUTPUT"
      - name: Update candid files
        if: ${{ steps.update.outputs.updated == '1' }}
        run: |
          scripts/update_ic_commit -c "${{ steps.update.outputs.release }}"
          git commit -a -m "Update NNS candid files to ${{ steps.update.outputs.release }}"
      - name: Create Pull Request
        if: ${{ steps.update.outputs.updated == '1' }}
        uses: peter-evans/create-pull-request@v4
        with:
          token: ${{ secrets.GIX_BOT_PAT }}
          base: main
          add-paths: dfx.json
          commit-message: Update didc release
          committer: GitHub <noreply@github.com>
          author: gix-bot <gix-bot@users.noreply.github.com>
          branch: bot-ic-update
          delete-branch: true
          title: 'Update didc release'
          body: |
            # Motivation
            A newer release of the internet computer is available.

            # Changes
            ## Changes made by a bot triggered by ${{ github.actor }}
            - Update the version of `ic` specified in `dfx.json`.
            - Update the NNS candid files to the versions in that commit.

            ## Changes made by a human (delete if inapplicable)

            # Tests
            - See CI
          # Since this is a scheduled job, a failure won't be shown on any
          # PR status. To notify the team, we send a message to our Slack channel on failure.
      - name: Notify Slack on failure
        uses: dfinity/internet-identity/.github/actions/slack@release-2023-08-28
        if: ${{ failure() }}
        with:
          WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          MESSAGE: "didc update failed"
