# A GitHub Actions workflow that regularly checks for new `ic` releases and updates to the latest.
# and creates a PR on new versions.
name: Update IC
on:
  schedule:
    # Check for new IC releases daily at 7:30.  Upstream releases about once weekly.
    - cron: '30 7 * * *'
  push:
    branches:
      - update-ic-workflow
  workflow_dispatch:
    inputs:
      ic_ref:
        type: text
        description: "The internet computer reference (tag or commit) to update to.  Default: Latest"
jobs:
  update-ic:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Find newer ic release, if any
        id: update
        run: |
          current_release="$(jq -r .defaults.build.config.IC_COMMIT dfx.json)"
          echo "Current ic release: $current_release"
          latest_release=$(curl -sSL https://api.github.com/repos/dfinity/ic/releases/latest | jq .tag_name -r)
          echo "Latest ic release:  $latest_release"
          {
            if [ "$current_release" == "$latest_release" ]
            then
              echo "updated=0"
            else
              echo "updated=1"
              echo "release=$latest_release"
            fi
          } >> "$GITHUB_OUTPUT"
      # TODO: Put this oft-repeated chunk into an action.
      - name: Check whether the snsdemo repo is already present
        if: ${{ steps.update.outputs.updated == '1' }}
        shell: bash
        id: have_snsdemo
        run: |
          if test -d snsdemo
          then echo have_snsdemo=true >> "$GITHUB_OUTPUT"
          else echo have_snsdemo=false >> "$GITHUB_OUTPUT"
          fi
      - name: Determine snsdemo ref
        if: ${{ steps.have_snsdemo.outputs.have_snsdemo }} == 'false'
        id: snsdemo_ref
        shell: bash
        run: |
          SNSDEMO_RELEASE="$(jq -r .defaults.build.config.SNSDEMO_RELEASE dfx.json)"
          echo "ref=$SNSDEMO_RELEASE" >> "$GITHUB_OUTPUT"
      - name: Get SNS scripts
        if: ${{ steps.have_snsdemo.outputs.have_snsdemo }} == 'false'
        uses: actions/checkout@v3
        with:
          repository: 'dfinity/snsdemo'
          path: 'snsdemo'
          ref: ${{ steps.snsdemo_ref.outputs.ref }}
      - name: Add SNS scripts to the path
        if: ${{ steps.update.outputs.updated == '1' }}
        shell: bash
        run: echo "$PWD/snsdemo/bin" >> $GITHUB_PATH
      - name: Install sponge
        if: ${{ steps.update.outputs.updated == '1' }}
        run: sudo apt-get update -yy && sudo apt-get install -yy moreutils && command -v sponge
      - name: Update candid files
        if: ${{ steps.update.outputs.updated == '1' }}
        run: |
          # Install `didc`
          snsdemo/bin/dfx-software-didc-install --release "$(jq -r .defaults.build.config.DIDC_VERSION dfx.json)"
          # Update `didc`
          scripts/update_ic_commit -c "${{ steps.update.outputs.release }}"
          # Show changes
          echo "Git status:"
          git status
          echo "Note: The git diff is likely to be long so is not logged.  Please see the PR."
      - name: Create Pull Request
        if: ${{ steps.update.outputs.updated == '1' }}
        uses: peter-evans/create-pull-request@v4
        with:
          token: ${{ secrets.GIX_BOT_PAT }}
          base: main
          # Note: Please be careful when updating the add-paths field.  We have had the snsdemo committed by accident, with a pattern that matches nothing seemingly committing everything.
          add-paths: |
            dfx.json
            declarations/*/*.did
          commit-message: Update ic candid files
          committer: GitHub <noreply@github.com>
          author: gix-bot <gix-bot@users.noreply.github.com>
          branch: bot-ic-update
          branch-suffix: timestamp
          delete-branch: true
          title: 'Update IC candid files to ${{ steps.update.outputs.release }}'
          body: |
            # Motivation
            A newer release of the internet computer is available.

            # Changes
            ## Changes made by a bot triggered by ${{ github.actor }}
            - Update the version of `ic` specified in `dfx.json`.
            - Update the NNS candid files to the versions in that commit.

            ## Changes made by a human (delete if inapplicable)

            # Tests
            - See CI
            - [ ] Check for breaking changes in the APIs and schedule any required follow-on work.
          # Since this is a scheduled job, a failure won't be shown on any
          # PR status. To notify the team, we send a message to our Slack channel on failure.
      - name: Notify Slack on failure
        uses: dfinity/internet-identity/.github/actions/slack@release-2023-08-28
        if: ${{ failure() }}
        with:
          WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          MESSAGE: "IC commit update failed"
